
.popIn {
    animation-fill-mode: forwards;
    animation-name: popInKeyframe;
    animation-duration:0.1s;
}

@keyframes popInKeyframe {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}